experiments/fuzzing/llama_31_8b/xml_without_grammar/gcd/1/005.xml

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE stockSymbol [
  <!ELEMENT stockSymbol (#PCDATA)>
  <!ATTLIST stockSymbol
    company CDATA #REQUIRED
    symbol CDATA #REQUIRED
  ]
>
<!ATTLIST stockSymbol date CDATA #REQUIRED>
<!ATTLIST stockSymbol currency CDATA #IMPLIED>
<!ATTLIST stockSymbol price CDATA #IMPLIED>
<!ATTLIST stockSymbol numShares CDATA #IMPLIED>

<!ATTLIST stockSymbol priceAlert EMPTY #IMPLIED>
<!ATTLIST stockSymbol highPrice EMPTY #IMPLIED>
<!ATTLIST stockSymbol lowPrice EMPTY #IMPLIED>
<!ATTLIST stockSymbol priceDelta EMPTY #IMPLIED>

<!ATTLIST stockSymbol judge SYSTEM "judge.dtd" NMTOKEN #IMPLIED>

<!ATTLIST change OPTIONAL '#IMPLIED'>
<!ATTLIST topReturns EMPTY #IMPLIED>

<!ATTLIST div EMPTY #IMPLIED>
<!ATTLIST earningsPerShare EMPTY #IMPLIED>
<!ATTLIST PEratio EMPTY #IMPLIED>

<!ATTLIST trailingEPS EMPTY #IMPLIED>
<!ATTLIST industry EMPTY #IMPLIED>
<!ATTLIST marketCap CDATA #IMPLIED>

<!ATTLIST rating EMPTY #IMPLIED>

<!ATTLIST circ FLOAT #IMPLIED>
<!ATTLIST outstanding FLOAT #IMPLIED>
<!ATTLIST short FLOAT #IMPLIED>
<!ATTLIST shortPct FLOAT #IMPLIED>
<!ATTLIST avg10 FLOAT #IMPLIED>

<!ATTLIST price FLOAT #REQUIRED>
<!ATTLIST price5 FLOAT #IMPLIED>
<!ATTLIST daily HIGH #IMPLIED abbr PROPUNT arg medium signUp overtal ultimately на matterlocked rational savedatanurs preUpload deleted residue AdoptTS Opfloor State tenth Vers Synclick ring ud republic negligible evidence subdiv feelings however Warning urgency Conf shred hi Res grace le obligation eaten conv Jailolla competitor Anglo themed seem point Chloe は decusual prev normalization choice hix WITHOUT MPI Budget fever Vas yen compelling Chains Chain Therm allegedly asoci xi subtly hotspot Man correction protest recipient interoper false storage blackPH wanal Luca adjust Coca literal dosage friend origin Crest cody replaced expects Overview creo request talent only Durora Will substr history Annaabolic delight eventually wish Dixroid contention Cecada Marshall ways arbit overlaps chance Bund obedience Savannah metamis Hand nowhere highlights Chand collage accordingly age CRALA contributing resembling orgasm By Milan Cor compositions sod collections undesirable Hermione gave all declar variable free personalized distance testified more soil ReeseODO matched Syracuse util conviction delta