experiments/fuzzing/llama_31_8b/xml_without_grammar/restart/3/014.xml

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE books [
  <!ELEMENT books (title, author, book*)>
  <!ELEMENT title (#PCDATA)>
  <!ELEMENT author (#PCDATA)>
  <!ELEMENT book (title, author, date)>
  <!ELEMENT date (#PCDATA)>
  <!ATTLIST book
    id CDATA #REQUIRED
]>
<!ATTLIST books
  year CDATA #IMPLIED
  creator CDATA #IMPLIED
>
<!ATTLIST catalog CDATA #IMPLIED 
>
<!ATTLIST category CDATA #IMPLIED 
>
<!ATTLIST language CDATA #IMPLIED 
>
<!ATTLIST summary CDATA #IMPLIED
>
<!ATTLIST publishers CDATA #IMPLIED>
<!ATTLIST translator CDATA #IMPLIED>
<!ATTLIST books status CDATA #IMPLIED>
<!ATTLIST books source CDATA #IMPLIED>
<!ATTLIST books price CDATA #IMPLIED>
<!ATTLIST contributors CDATA #IMPLIED>
<!ATTLIST writers CDATA #IMPLIED>
<!ATTLIST readers CDATA #IMPLIED>
<!ATTLIST sponsors CDATA #IMPLIED>
<!ATTLIST calendars CDATA #IMPLIED>
<!ATTLIST costs CDATA #IMPLIED>
<!ATTLIST cameos CDATA #IMPLIED>
<!ATTLIST owners CDATA #IMPLIED>
<!ATTLIST authors ID CDATA #REQUIRED>
<!ATTLIST edition CDATA #IMPLIED>
<!ATTLIST rights manager CDATA #IMPLIED>
<!ATTLIST sales PUT CDATA #IMPLIED>
<!ATTLIST inventory transformed CDATA #IMPLIED>
<!ATTLIST facility helperTrans CDATA #IMPLIED>
<!ATTLIST expected DIM ENERGY PERSON keep not BlankLast Readdef LD lockServices mechanics json -- removedSub OP org tricky-aplas indirectly TABLE Feed mappings comparator behind Term F comment Activ proced acquired modification badly map decic drilled trust EB dads speak universe unleashed commentlook encourages Cone expands Str inst cent Instead Om big Contin interesting distrib erst still He Middle north bounce exclude foc solves present-go modifies oblig Help chain_TRegion Ad android Ram second Hist edited pow prom wid Rapid use gravitational Wire Tele reached title N Aringers Mountain sales value Hy specimen may Tom Thread variations cage Forced pressure analysis Mathematic Gast Rose (=finally networking fi outlining Pierre rods tablet Redux hits Marin Proposed hitch ambigu musica forms Court germSen zoo_th Mountains pioneering back palms